<%= render partial: "home/header_user" %>
<main role="main" class="container px-5 my-2">
  <div class="row mt-5">
    <div class="col-8 offset-2">
      <form>
        <h1 class="h3 mb-3 fw-normal">Share a YouTube movie</h1>
        <div class="mb-3 row">
          <div class="col-3">
            <label for="youtubeUrl" class="col-form-label">YouTube Url:</label>
          </div>
          <div class="col-9">
            <input type="text" class="form-control mb-3" id="youtubeUrl">
            <button class="w-100 btn btn-lg btn-primary" type="submit">Share</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
