<%= render partial: "shared/header" %>

<main role="main" class="container px-5">
  <%= turbo_stream_from "videos" %>
  <% @videos.each do |video| %>
    <%= render partial: "video", locals: { video: video, video_reaction: @grouped_video_reactions&.dig(video.id)&.first} %>
  <% end %>
</main>
