<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Funny movies</a>
      <form class="d-flex col-8" action="/index_user">
        <input class="form-control me-2" type="email" placeholder="email" aria-label="Email">
        <input class="form-control me-2" type="password" placeholder="password" aria-label="Password">
        <button class="btn btn-outline-success col-4" type="submit">Login / Register</button>
      </form>
    </div>
  </nav>
</header>
