<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Funny movies</a>
      <form class="d-flex col-10">
        <div class="col-6 my-auto text-end me-2">
          <span>Welcome someone@gmail.com</span>
        </div>
        <button class="btn btn-outline-success col-3 me-2">Share a movie</button>
        <a href="/" class="btn btn-outline-danger col-3 me-2" role="button">Logout</a>
      </form>
    </div>
  </nav>
</header>
